@charset "UTF-8";
/* CSS Document */
/* ----------------- NAVIGATION BAR STYLES -------------------*/ 
/* BUTTON NAVIGATION */
#navbar{
	width: 100%; /* as wide as container - make sure buttons don't exceed container width */
	height: 60px; /* should be greater than the height of the buttons */
	margin-bottom: 0px; /* pushes page content down */
	overflow: hidden; 
}	
/* horizontal menu bars are typically created using a styled unordered list. Here's how! */
ul#menu {
	list-style: none; /* eliminates bullets */
	padding-left: 46px; /* move button bar right or left */
} 
ul#menu li {
	float: left; /* changes list from vertical to horizontal */
	margin-left: -13px; /* controls space between buttons/tabs */
	list-style-image: none; /* lose the stars */
} 
ul#menu li a.button {
	background-color: #FFFFFF; /* button/tab color */
	color: #47D7E2; /* font color */
	font-size: 1em;
	text-decoration: none; /* removes the link underline */
	/* the padding define the size of the buttons */
	padding: 6px 20px 6px 20px; 	
	/* rounded corners turn buttons into tabs when bottom of button is hidden */
	border-radius: 0px; /* add radius for rounded buttons */
	border: solid 1px #1F201A; /* borders are useful for side-by-side buttons */
}
/* styles for the currently selected page should be different to make it stand out */
/* also you want to discourage users from clicking the button for the current page */
ul#menu li a.button.selected{
	background-color: #A8A8A8; /* matching the color of the content background color */
	color: #47D7E2; /* font color */
	font-style: italic;
}
/* visited link font colors */
ul#menu li a.button:visited {
	color: #47D7E2;
}  
ul#menu li a.button:visited.selected{
	color: #47D7E2;
} 
/* hover link styles */
ul#menu li a.button:hover {
	background-color: #A8A8A8;
	color: #47D7E2;
} 
/* selected button shouldn't change on hover */ 
ul#menu li a.button:hover.selected{ 
	background-color: #fff;
	color: #000;
} 

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.6em;
	color: #1F201A;
	background-color: #FFFFFF;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #FFFFFF;
}
h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 {
	font-size: 25px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #FFFFFF;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #9B9744;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #9B9744;
	text-decoration: none;
}
a:hover {
	color: #FFFF00;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #999933 1px;
}
td {
	padding: 6px;
	border: solid #999933 1px;
}
th {
	font-weight: bold;
	background-color: #999938;
	text-align: center;
	padding: 6px;
	border: solid #999933 1px;
}

/*DIV STYLES FOR PAGE LAYOUT */
#sidebar{
	width: 278px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	background: #A8A8A8;
	border: 1px solid #1F201A;
	border-radius: 12px;
	clear: both;
}
#sidebar p{
	padding: 0;
}
#featured{
	width: 1140px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	background: #333333;
	border: 1px solid #47D7E2;
	border-radius: 12px;
	font-size: 17.5px;
}
#icon{
	float:right;
}
#about{
	width: 1000px;
	float: 0;
	margin-top: 20px;
	margin-right: 20px;
	background: #1F201A;
	Border: #47D7E2;
	border-radius: 12px;
	
	
	
}
